
        <!-- home section -->

	 <section class="home section " id="home">
            <div class="container">
                <div class="intro">
                    <img src="images/images.jpg" alt="profile" class="shadow-dark">
                    <h1>Louis Bertson</h1>
                    <p>@(I'm the happy developer)</p>
                    <div class="social-links">
                        @{ foreach social in model.socials}
                        <a href="@{social.url}"><i class="fa fa-@{social.icon}"></i> </a>

                        @{end}
                    </div>

                </div>

            </div>

        </section>

        <!-- home section End-->
           <!-- Service Section -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1942708799042825"
     crossorigin="anonymous"></script>
