<section class="blog section" id="blog">
    <div class="container">
    <div class="row">
    <div class="section-title padd-15">
         <h2>Latest Blog</h2>
    </div>
    </div>
    <div class="row">
        <!-- Blog Item -->

        @{foreach doc in model.articles}
        <div style="cursor: pointer;" class="blog-item padd-15">
           <div class="blog-item-inner shadow-dark">
               <div class="blog-img" onclick="read_post('@{doc.id}')">
                    <img src="images/blog/@{doc.picture}" alt="blog">
                    <div class="blog-date">
                       @{doc.dtcreated.format('yyy MM dd HH:mm')}
                    </div>
               </div>
               <div class="blog-info">
                  <h4 onclick="read_post('@{doc.id}')" class="blog-title">@{if cookie('_lang') == 'fr'} @{doc.title_fr} @{else} @{doc.title} @{fi}</h4>
                  <p onclick="read_post('@{doc.id}')" class="blog-description">@{if cookie('_lang') == 'fr'} @{doc.summary_fr} @{else} @{doc.summary} @{fi}
                  </p>
                  <p class="blog-tags">Tags : 
                      @{if cookie('_lang') == 'fr'} 
                      @{foreach tag in doc.tags_fr}
                      <a  href="/blog?tag=@{tag}">@{tag}</a>
                      @{end}
                    @{else}
                     @{foreach tag in doc.tags}
                     <a  href="/blog?tag=@{tag}">@{tag}</a>
                     @{end}
                     @{fi}
                    </p>
               </div>
           </div>
        </div>
        @{end}
    </div>
    </div>
 </section>