        <!-- home section -->
        <section class="home section" id="home">
            <div class="container">
                <div class="intro">
                    <img src="images/images.jpg" alt="profile" class="shadow-dark">
                    <h1>@{model.message}</h1>
                </div>
            </div>
        </section>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1942708799042825"
     crossorigin="anonymous"></script>
        <!-- home section End-->
