<section class="protfolio section" id="protfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="protfolio-filter padd-15">
                <button type="button" class="active" data-filter="all">All</button>
                <button type="button" data-filter="wepdesign">Wepdesign</button>
                <button type="button" data-filter="photography">Photography</button>
                <button type="button" data-filter="wordpress">Wordpress</button>
            </div>
        </div>
        <div class="row ">
            <!-- Protfolio Itm -->
            <div class="portfolio-item padd-15" data-category="all">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                         <img src="images/shopping_bag_PNG6369.png" alt="portfolio">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web Design</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Protfolio Itm End -->
                <!-- Protfolio Itm -->
                <div class="portfolio-item padd-15" data-category="wepdesign">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/unnamed.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Protfolio Itm End -->
                    <!-- Protfolio Itm -->
            <div class="portfolio-item padd-15" data-category="photography">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                         <img src="images/تعريف-التصوير-الفوتوغرافي.png" alt="portfolio">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web Design</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Protfolio Itm End -->
                <!-- Protfolio Itm -->
                <div class="portfolio-item padd-15" data-category="wordpress">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/headphones-2591890_1280-1120x600.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                  <!-- Protfolio Itm -->
                  <div class="portfolio-item padd-15" data-category="wordpress">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/shutterstock-1223275999.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                  <!-- Protfolio Itm -->
                  <div class="portfolio-item padd-15" data-category="wepdesign">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/programming-2.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                 <!-- Protfolio Itm -->
                 <div class="portfolio-item padd-15" data-category="photography">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/1024.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                  <!-- Protfolio Itm -->
                  <div class="portfolio-item padd-15" data-category="wepdesign">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/Thats-why-programming-learning-changes-your-life.-heres-the-tools-to-start..png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
        </div>
    </div>
    </section>