<section class="protfolio section" id="protfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="protfolio-filter padd-15">
                <button type="button" class="active" data-filter="all">All</button>
                <button type="button" data-filter="wepdesign">Wepdesign</button>
                <button type="button" data-filter="photography">Photography</button>
                <button type="button" data-filter="wordpress">Wordpress</button>
            </div>
        </div>
        <div class="row ">
            <!-- Protfolio Itm -->
            <div class="portfolio-item padd-15" data-category="all">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                         <img src="images/shopping_bag_PNG6369.png" alt="portfolio">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web Design</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Protfolio Itm End -->
                <!-- Protfolio Itm -->
                <div class="portfolio-item padd-15" data-category="wepdesign">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/unnamed.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Protfolio Itm End -->
                    <!-- Protfolio Itm -->
            <div class="portfolio-item padd-15" data-category="photography">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                         <img src="images/تعريف-التصوير-الفوتوغرافي.png" alt="portfolio">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web Design</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Protfolio Itm End -->
                <!-- Protfolio Itm -->
                <div class="portfolio-item padd-15" data-category="wordpress">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/headphones-2591890_1280-1120x600.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                  <!-- Protfolio Itm -->
                  <div class="portfolio-item padd-15" data-category="wordpress">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/shutterstock-1223275999.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                  <!-- Protfolio Itm -->
                  <div class="portfolio-item padd-15" data-category="wepdesign">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/programming-2.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                 <!-- Protfolio Itm -->
                 <div class="portfolio-item padd-15" data-category="photography">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/1024.png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
                  <!-- Protfolio Itm -->
                  <div class="portfolio-item padd-15" data-category="wepdesign">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                             <img src="images/Thats-why-programming-learning-changes-your-life.-heres-the-tools-to-start..png" alt="portfolio">
                        </div>
                        <div class="portfolio-info">
                            <h4>Web Design</h4>
                            <div class="icon">
                                <i class="fa fa-search"></i>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Protfolio Itm End -->
        </div>
    </div>
    </section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1942708799042825"
     crossorigin="anonymous"></script>
<script>
// protfolio item filter
const filterContainer=document.querySelector(".protfolio-filter"),
      filterBtns=filterContainer.children,
     totaFilterBtn=filterBtns.length,
     protfolioItems=document.querySelectorAll(".portfolio-item");
     totalprotfolioItems=protfolioItems.length;
    //  console.log(totalprotfolioItems);
      for(let i=0;i<totaFilterBtn;i++){
         filterBtns[i].addEventListener("click",function(){
            filterContainer.querySelector(".active").classList.remove("active");
             this.classList.add("active");
             const filterValue=this.getAttribute("data-filter");
            //  console.log(filterValue)
             for(let k=0;k<totalprotfolioItems;k++){
                if(filterValue==="all"){
                    protfolioItems[k].classList.add("show");
                 }
                 else{
                    if(filterValue === protfolioItems[k].getAttribute("data-category")){
                        protfolioItems[k].classList.remove("hide");
                        protfolioItems[k].classList.add("show");
                     }
                     else{
                        protfolioItems[k].classList.add("hide");
                        protfolioItems[k].classList.remove("show");
                     }

                 }
             }
         })

      }


    //   protfoliolightbox
    const lightbox=document.querySelector(".lightbox"),
          lightboxImg=lightbox.querySelector(".lightbox-img"),
          lightboxclose=lightbox.querySelector(".lightbox-close");
          lightboxtext=lightbox.querySelector(".caption-text"),
          lightboxcounter=lightbox.querySelector(".caption-counter");
    let itemIndex=0;
    for(let i=0;i<totalprotfolioItems;i++){
        protfolioItems[i].addEventListener("click",function(){
            itemIndex=i;
            changeItem();
            togglelightbox();

        })

    }
    function nextItem(){
        if(itemIndex===totalprotfolioItems-1){
            itemIndex=0;
        }
        else{
            itemIndex++;
        }
        changeItem()
    }
    function prevItem(){
        if(itemIndex===0){
            itemIndex=totalprotfolioItems-1;
        }
        else{
            itemIndex--;
        }
        changeItem()

    }
    function  togglelightbox(){
        lightbox.classList.toggle("open");

    }
    function changeItem(){
     imgSrc=protfolioItems[itemIndex].querySelector(".portfolio-img img").getAttribute("src");
     lightboxImg.src=imgSrc;
     lightboxtext.innerHTML=protfolioItems[itemIndex].querySelector("h4").innerHTML;
     lightboxcounter.innerHTML=(itemIndex+1) + " of " + totalprotfolioItems;
    }
    //close lightbox
    lightbox.addEventListener("click",function(event){
        if(event.target===lightboxclose || event.target===lightbox){
            togglelightbox()
        }
    })
</script>